body{
	background-image: url(https://png.pngtree.com/thumb_back/fw800/back_our/20190625/ourmid/pngtree-simple-atmospheric-gradient-urban-construction-enterprise-ppt-background-image_260238.jpg);
	background-size : center;
	

}

#div1{
	text-align: center;

}


h2{
	color: red;
	text-decoration: underline;
}
